@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-white text-black font-courier;
  }
}

@layer components {
  .link {
    @apply text-black no-underline;
  }
  
  .link:hover {
    @apply text-[#2A7A7A];
    text-shadow: 0 0 12px rgba(42, 122, 122, 0.3);
  }

  .link:hover span {
    @apply italic;
  }

  .name {
    @apply italic;
  }

  .thin-underline {
    text-decoration: underline;
    text-decoration-thickness: 0.5px;
  }

  .back-button {
    @apply text-black no-underline;
  }

  .back-button:hover {
    @apply text-[#2A7A7A];
    text-shadow: 0 0 12px rgba(42, 122, 122, 0.3);
  }

  .back-button:hover span {
    @apply italic;
  }
} 